/* Reset */
/* CSS Reset  
 * Based on a Reset by: Richard Clark - http://richclarkdesign.com
 * This CSS Reset can be found at: http://html5doctor.com/html-5-reset-stylesheet/
 */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;text-decoration:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
pre{overflow-x:scroll;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
 /* Structure */
 
#outer_background {
    background:url('http://i44.tinypic.com/v58ncx.jpg');
}


#inner_layer {
    background-color:rgba(217, 197, 150, 0.6);
	/*background-color:#9E9277;*/
	margin:0 auto;
	width:980px;
}


#banner {
    background:url('http://i41.tinypic.com/v3dkih.jpg');
	background-size:cover;
	height: 430px;
    margin: 0 auto;
	opacity:0.8;
    width: 980px;
}

.navi_bar {
    background-color:rgba(226, 208, 170, 0.9);
	border-bottom:5px double #6B4724;
	border-top:5px double #6B4724;
	padding: 20px;
}

.wrapper_buttons {
	width: 563px;
	margin: 0 auto;
}

.button {
    border-left:2px dotted #735F3A;
	border-right:2px dotted #735F3A;
    color:#6B4724;
    font-family:cursive;
    font-size:20px;
	padding:6px 6px 6px 6px;
    text-decoration:none;
}

.button:hover {
	background-position:0 -20px;
}

h1 {
	color:white;
	font-family:cursive;
	font-size:20px;
	margin-top:20px;
	text-align:center;
	text-decoration:underline;
}


/* Modules */

.one_of_two {
	margin:7.5px;
	width:467.5px;
}

.bulletin_board {
	background:url('http://i42.tinypic.com/2dcco5w.jpg');
	background-size:cover;
	border:2px dotted #6B4724;
	height:522px;
}

.sound_cloud_mp3_box1 {
	background:url('http://i42.tinypic.com/2dcco5w.jpg');
	background-size:cover;
	border:2px dotted #6B4724;
	height:522px;
}

/* Helper */

.float_left {
	float:left;
}

.clear {
	clear:both;
}

.wrapper {
	padding:7.5px;
}